In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
from pathlib import Path

df=pd.DataFrame({
    'ID': [1,2,3,4,5],
    'Importo': [100.5,2500.0,80.0,None,1200.0],
    'Categoria' : ['Retail','Online','Retail','Online','Online'],
    'Target': [0,1,0,0,1]
})


print(f"Dimensioni del dataset: {df.shape}")
print(f"\nColonne: {list(df.columns)}")

print("\n")
df.info()
df.isna().sum()

print("\n")
df.describe()

Dimensioni del dataset: (5, 4)

Colonne: ['ID', 'Importo', 'Categoria', 'Target']


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         5 non-null      int64
 1   Importo    4 non-null      float64
 2   Categoria  5 non-null      object
 3   Target     5 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 292.0+ bytes

             ID     Importo    Target
count  5.000000     4.00000  5.000000
mean   3.000000   970.12500  0.400000
std    1.581139  1146.28824  0.547723
min    1.000000    80.00000  0.000000
25%    2.000000    95.37500  0.000000
50%    3.000000   650.25000  0.000000
75%    4.000000  1525.00000  1.000000
max    5.000000  2500.00000  1.000000

## SLICING

In [ ]:
slicing = df.iloc[0:3, df.columns.get_indexer(['Importo','Categoria'])]
# df.iloc[0:3,[1,2]] -- al posto di prendere le colonne singolarmente le prende utilizzando gli indici
print(slicing)

   Importo Categoria
0    100.5    Retail
1   2500.0    Online
2     80.0    Retail

## FILTRO LOGICO

In [73]:
importo=df[df['Importo']>500]
print(importo)

   ID  Importo Categoria  Target
1   2   2500.0    Online       1
4   5   1200.0    Online       1

## FILTRO ML

In [74]:
frodi = df[(df['Target'] == 1) & (df['Importo'].notna())]
print(frodi)

   ID  Importo Categoria  Target
1   2   2500.0    Online       1
4   5   1200.0    Online       1

## CONCAT

In [75]:
df2=pd.DataFrame({
    'ID': [6],
    'Importo': [50.0],
    'Categoria' : [None],
    'Target': [0]
})

dfconcatenato=pd.concat([df,df2], axis=0)
print(dfconcatenato)

   ID  Importo Categoria  Target
0   1    100.5    Retail       0
1   2   2500.0    Online       1
2   3     80.0    Retail       0
3   4      NaN    Online       0
4   5   1200.0    Online       1
0   6     50.0      None       0